.banner-and-menu {
    display: flex;

    .banner-top {
        padding: 10px 0;

        img:first-child {
            width: 27%;
            object-fit: contain;
        }
        img:last-child {
            width: 50%;
            object-fit: contain;
        }
    }

    .menu-main {
        display: flex;
        background-image: linear-gradient(to bottom,#118ed0 0,#097cbc 100%);
        align-items: center;
        justify-content: center;
        padding: 3px 60px;
        height: 40px;
        position: relative;
        
        &__title {
            margin: 0;
            color: white;
            font-weight: 500;
        }
    
        &__list-products {
            cursor: pointer;


            p {
                margin: 0 20px;
                font-size: 27px;
                color: white;
                user-select: none;

            }

        }
    
        &__search {
            flex: 1;
            margin-left: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
            height: 100%;
            border-radius: 3px;
            overflow: hidden;
    
            &-input {
                width: 100%;
                height: 100%;
                outline: none;
                border: none;
                font-size: 14px;
                padding-left: 15px;
            }
    
            &-icon {
                margin: 0 10px 0 0;
                font-weight: lighter;
            }
        }
    }
}

.block-list {
    display: block;
}