@use '../shared.scss' as *;


.header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    background-image: linear-gradient(to bottom,#fff 0,#eee 100%);
    
    &-container {
        position: relative;
        height: 100%;
    }

    &-nav {
        height: 100%;
        
        &__item-link {
            color: $primaryColor;
            font-size: 15px;
            height: 100%;
            line-height: 49px;
            padding: 0 10px;
            text-decoration: none;
        }
    
        &__item:hover &__item-link {
            color: $colorGray;
        }
    }

    &-hotline {
        position: absolute;
        right: 0;
        top: 0;
        padding: 15px;
        display: flex;
        background: white;
        box-shadow: rgb(0 0 0 / 20%) 0px 0px 12px;
        border-radius: 0 0 10px 10px;

        &__img {
            img {
                float: left;
                margin-right: 10px;
                margin-top: 5px;
                width: 60px;
            }
        }

        &__list {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                margin-bottom: 10px;
            }

            &-title {
                font-size: 14px;
                font-weight: bold;
            }

            &-number {
                color: $colorOrange;
                font-weight: bold;
                font-size: 14px;
            }

            &-footer {
                padding-top: 10px;
                font-size: 14px;
                border-top: 1px solid #eee;
                margin-bottom: 0 !important;

                &-img {
                    width: 33px;
                    height: 33px;
                    margin-left: 5px;
                    display: inline-block;
    
                    img {
                        width: 100%;
                        object-fit: contain;
                    }
                }

                .img-sky {
                    img {
                        width: 85%;
                    }
                }
            }
        }
    }
}

