.carousel {
    width: 70%;
    margin: 45px 0 0 auto;

    &-index {
        margin-bottom: 5px;
    }

    &-prev {
        width: 3%;
        margin: 0 8px;
    }

    &-next {
        width: 3%;
        margin: 0 5px;
    }

    
}

.carousel-item {
    max-height: 300px;


    &-img {
        object-fit: cover;
        width: 100%;
    }


}